<div class="article-preview">
  <div class="article-meta">
    <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg"/></a>
    <div class="info">
      <a href="" class="author"><%= post.user.username %></a>
      <span class="date"><%= post.created_at.strftime("%B %d") %></span>
    </div>
    <%= render "favorites/button", post: post %>
  </div>
  <a href="<%= post_path(post) %>" class="preview-link">
    <h1><%= post.title %></h1>
    <p><%= post.body_html %></p>
    <span>Read more...</span>
  </a>
</div>
