<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @post.title %></h1>

      <div class="article-meta">
        <a href="/profile/<%= @post.user.username %>"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
        <div class="info">
          <a href="/profile/<%= @post.user.username %>" class="author"><%= @post.user.username %></a>
          <span class="date"><%= @post.created_at.strftime("%B %d, %Y") %></span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-edit"></i> Edit Article
        </button>
        <%= button_to "Delete Article", @post, method: :delete, class: "btn btn-sm btn-outline-danger" do %>
          <i class="ion-trash-a"></i> Delete Article
        <% end %>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <%= @post.body_html %>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href="/profile/<%= @post.user.username %>"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
        <div class="info">
          <a href="/profile/<%= @post.user.username %>" class="author"><%= @post.user.username %></a>
          <span class="date"><%= @post.created_at.strftime("%B %d, %Y") %></span>
        </div>
      </div>
    </div>
  </div>
</div>
